dist
.parcel-cache
node_modules
package-lock.json

fibonacci.js
autoTags.js
chooseBestDistance.js
countShars.js
reverseStr.js
examples.js
genitive.js
findTheStrayNumber.js
sumTriangularNumbers.js
kata.js
